@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
.bg{
    background-image: url('../barber2.webp');
}
.list{
  list-style: none;
  display: inline-block;
  margin-right: 20px; 
}
.aktif {
  text-decoration: none;
  position: relative;
  color: white;
  transition: background 0.3s ease-in-out;
} 
.aktif::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -10px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
.a {
  text-decoration: none;
  position: relative;
  color: white;
  transition: background 0.3s ease-in-out;
} 
.a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -10px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
.a:hover::before {
  width: 100%; 
}
.ab {
  text-decoration: none;
  position: relative;
  color: white;
  overflow: hidden;
}

.ab::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  transform-origin: left; /* Set origin transform ke kanan */
  transform: scaleX(1); /* Mulai dengan scaleX(1) */
  transition: transform 0.3s ease-in;
}

.ab:hover::before {
  transform: scaleX(0); /* Scaling menjadi scaleX(0) pada hover */
  transform-origin: right; /* Set origin transform ke kanan */
}

.hid {
  display:none;
}
@media (min-width: 1024px) {
  .scroler{
    display:flex;
    background-color:#fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    position: fixed;
    top:0;
    left:0;
  }
  .scrolers{
    display:flex;
    background-color:transparent;
    position: fixed;
    top:0;
    left:0;
  }
}
.scroler .a {
  color: #333333;
}
.scroler .a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -10px;
  background-color: #addb84;
  transition: width 0.3s ease-in-out;
}

.scroler .a:hover::before {
  width: 100%; 
}
/* /*  */

.hover-effect {
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 100%;
  height: 35rem;
  transition: transform 0.3s, box-shadow 0.3s, margin-top 0.3s, filter 0.3s;
}

  /* Gaya saat hover pada div */
.hover-effect:hover {
  margin-top: -20px; 
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  filter: brightness(1); 
}

/*  */

.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  
  transform: scale(1.3);
}

/* Customize Dots */

.slick-dots {
  /* position: absolute; */
  bottom: -20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 40px auto 0;
  width:80%;
}

.slick-dots li {
  margin: 0 0px;
  /* width: 100px; */  
}

.slick-dots li button {
  font-size: 12px;
  background-color: #ADC4CE; /* Inactive dot color */
  width: 280px;
  height: 2px;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: black; /* Active dot color */
  height:5px;
}
/* contact >50  */
.show{
  position: fixed;
  right:2rem;
  bottom: 20px;
}

/* services */
/* Tambahkan CSS ini */
.titik {
  flex-grow: 1;
  border-bottom: 3px dotted #000; /* Ganti warna dan gaya sesuai kebutuhan  fdba74*/
}

/* about */
.custom-marquee{
  /* animation: marquee 10s linear infinite; */
  color: transparent;
  font-size: 15vh;
  font-weight: 400;
  line-height: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 20vh;
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #c8c8c8;
}

.animate-spin	{
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ahref {
  text-decoration-thickness: 12px;
}